@layer openprops, normalize, theme, components.root, components.extended, utils;

/* Open Props */
@import "./style/open-props.css";

/* Normalize */
@import "./style/normalize.css";

/* Theme */
@import "./style/theme.css";

/* Components */
/* @import "./components.css";*/

/* Utils */
@import "./style/utils.css";
